<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/public/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="/public/css/public.css" media="all">
</head>
<body>
<style>
    .layui-form-item .layui-input-company {
        width: auto;
        padding-right: 10px;
        line-height: 38px;
    }
</style>
<div class="layuimini-container layuimini-page-anim">
    <div class="layuimini-main">

        <div class="layui-form layuimini-form">
            <div class="layui-form-item">
                <label class="layui-form-label required">编号</label>
                <div class="layui-input-block">
                    <input type="text" name="id" id="id" hidden="hidden">
                    <input type="text" name="number" id="number" lay-verify="required" lay-reqtext="编号不能为空" placeholder="请输入编号" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">姓名</label>
                <div class="layui-input-block">
                    <input type="text" name="name" id="name" lay-verify="required" lay-reqtext="姓名不能为空" placeholder="请输入姓名" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label required">登录密码</label>
                <div class="layui-input-block">
                    <input type="password" name="password" id="password" lay-verify="required" lay-reqtext="登录密码不能为空"
                           placeholder="请输入登录密码" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/public/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script src="/public/js/lay-config.js?v=1.0.4" charset="utf-8"></script>
<script>
    layui.use(['form', 'miniTab'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$,
            miniTab = layui.miniTab;

        /**
         * 初始化表单，要加上，不然刷新部分组件可能会不加载
         */
        form.render();

// 获取当前登录用户的信息
        $.ajax({
            url: "/api/v1/user/userInfo",
            method: 'GET',
            success: function (res) {
                if (res.status === '200') {
                    data = res.data.userInfo
                    $("#id").val(data.id);
                    $("#number").val(data.number);
                    $("#name").val(data.name);
                    form.render();
                }
            }
        })

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            $.ajax({
                url: '/api/v1/user/update/currentLoginUser',
                method: 'post',
                data: JSON.stringify(data.field),
                contentType: "application/json",
                success: function (res) {
                    if (res.status === '200') {
                        layer.msg("保存成功", {time: 500, icon: 1, offset: '60px'})
                    } else {
                        layer.msg(res.message, {time: 5000, icon: 2, offset: '60px'})
                    }
                }
            });

            return false;
        });

    });
</script>
</body>
</html>