<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>学生信息-添加</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/public/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="/public/css/public.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form">

    <div class="layui-form-item">
        <label class="layui-form-label required">姓名</label>
        <div class="layui-input-block">
            <input type="text" name="id" id="id" hidden="hidden">
            <input type="text" name="name" id="name" lay-verify="required" lay-reqtext="姓名不能为空" placeholder="请输入姓名"
                   class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">性别</label>
        <div class="layui-input-block">
            <input type="radio" name="gender" value="1" title="男" checked="checked">
            <input type="radio" name="gender" value="2" title="女">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">民族</label>
        <div class="layui-input-block">
            <input type="text" name="nation" id="nation" lay-verify="required" lay-reqtext="民族不能为空" placeholder="请输入民族"
                   class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">出生日期</label>
        <div class="layui-input-block">
            <input type="text" name="birthdate" id="birthdate" lay-verify="required" lay-reqtext="出生日期不能为空"
                   placeholder="请输入出生日期" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">籍贯</label>
        <div class="layui-input-block">
            <input type="text" name="nativePlace" id="nativePlace" lay-verify="required" lay-reqtext="籍贯不能为空"
                   placeholder="请输入籍贯" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">家庭住址</label>
        <div class="layui-input-block">
            <input type="text" name="homeAddress" id="homeAddress" lay-verify="required" lay-reqtext="家庭住址不能为空"
                   placeholder="请输入家庭住址" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">身份证号码</label>
        <div class="layui-input-block">
            <input type="text" name="idCard" id="idCard" lay-verify="required" lay-reqtext="身份证号码不能为空"
                   placeholder="请输入身份证号码" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">入校日期</label>
        <div class="layui-input-block">
            <input type="text" name="enrolledDate" id="enrolledDate" lay-verify="required" lay-reqtext="入校日期不能为空"
                   placeholder="请选择入校日期" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">学籍状况</label>
        <div class="layui-input-block">
            <input type="radio" name="status" value="1" title="在读" checked="checked">
            <input type="radio" name="status" value="2" title="休学">
            <input type="radio" name="status" value="3" title="退学">
            <input type="radio" name="status" value="4" title="转出">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">所属学院</label>
        <div class="layui-input-block">
            <select name="collegeId" id="collegeList2" lay-search="" lay-filter="collegeList2" lay-verify="required" lay-reqtext="所属学院不能为空">
                <option value="">直接选择或搜索选择</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">所属专业</label>
        <div class="layui-input-block">
            <select name="specialtyId" id="specialtyList2" lay-search="" lay-filter="specialtyList2" lay-verify="required" lay-reqtext="所属专业不能为空">
                <option value="">直接选择或搜索选择</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">班级</label>
        <div class="layui-input-block">
            <select name="classId" id="classList2" lay-search="" lay-verify="required" lay-reqtext="班级不能为空">
                <option value="">直接选择或搜索选择</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">档案编号</label>
        <div class="layui-input-block">
            <input type="text" name="fileNumber" id="fileNumber" lay-verify="required" lay-reqtext="档案编号不能为空"
                   placeholder="请输入档案编号" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">登录密码</label>
        <div class="layui-input-block">
            <input type="password" name="password" id="password" lay-verify="required" lay-reqtext="登录密码不能为空"
                   placeholder="请输入登录密码" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">免冠照片</label>
        <div class="layui-input-block">
            <div class="layui-upload-drag" id="test10">
                <i class="layui-icon"></i>
                <p>点击上传，或将文件拖拽到此处</p>
                <div class="layui-hide" id="uploadDemoView">
                    <hr>
                    <img src="" alt="上传成功后渲染" id="bareheadedPhoto" style="max-width: 196px">
                </div>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>
</div>
<script src="/public/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script>
    layui.use(['form', 'laydate', 'upload'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$,
            laydate = layui.laydate,
            upload = layui.upload;

        var collegeList, specialtyList, classList;

        /**
         * 初始化表单，要加上，不然刷新部分组件可能会不加载
         */
        form.render();

        //日期
        laydate.render({
            elem: '#birthdate',
            trigger: 'click'
        });

        //日期
        laydate.render({
            elem: '#enrolledDate',
            trigger: 'click'
        });

        //拖拽上传
        upload.render({
            elem: '#test10'
            ,url: '/api/v1/upload/image'
            ,done: function(res){
                console.log(res)
                if (res.status === '200') {
                    $('#uploadDemoView').removeClass('layui-hide').find('img').attr('src', res.data);
                    layer.msg('上传成功');
                } else {
                    layer.msg(res.message, {time: 5000, icon: 2, offset: '60px'})
                }
            }
        });


        console.log("加载页面")

        // 当前弹出层，防止ID被覆盖
        var parentIndex = layer.index;

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            var bareheadedPhoto = $("#bareheadedPhoto")[0].src
            if (bareheadedPhoto && bareheadedPhoto.startsWith("data:image")) {
                data.field['bareheadedPhoto'] = bareheadedPhoto
            }
            $.ajax({
                url: '/api/v1/sfm/student/save',
                method: 'post',
                data: JSON.stringify(data.field),
                contentType: "application/json",
                success: function (res) {
                    if (res.status === '200') {
                        layer.msg("保存成功", {time: 500, icon: 1, offset: '60px'}, function () {
                            // 关闭弹出层
                            layer.close(parentIndex);
                            // 重启加载父页面
                            parent.location.reload();
                        })
                    } else {
                        layer.msg(res.message, {time: 5000, icon: 2, offset: '60px'})
                    }
                }
            });

            return false;
        });

        // 获取所有学院
        $.ajax({
            url: '/api/v1/sfm/college/all',
            method: 'get',
            success: function (res) {
                if (res.status === '200') {
                    collegeList = res.data;
                }
            }
        });

        // 获取所有专业
        $.ajax({
            url: '/api/v1/sfm/specialty/all',
            method: 'get',
            success: function (res) {
                if (res.status === '200') {
                    specialtyList = res.data;
                }
            }
        });

        // 获取所有班级
        $.ajax({
            url: '/api/v1/sfm/class/all',
            method: 'get',
            success: function (res) {
                if (res.status === '200') {
                    classList = res.data;
                }
            }
        });

        form.on('select(collegeList2)', function (data) {
            $("#specialtyList2").empty();
            $("#specialtyList2").append("<option value=\"\">直接选择或搜索选择</option>");

            let selectSpecialtyList = specialtyList.filter(p => p.collegeId === data.value);
            if (selectSpecialtyList) {
                for (let i in selectSpecialtyList) {
                    $("#specialtyList2").append("<option value=" + selectSpecialtyList[i].id + ">" + selectSpecialtyList[i].name + "</option>");
                }
            }

            form.render("select");
        })

        form.on('select(specialtyList2)', function (data) {
            $("#classList2").empty();
            $("#classList2").append("<option value=\"\">直接选择或搜索选择</option>");

            let selectClassList = classList.filter(p => p.specialtyId === data.value);
            if (selectClassList) {
                for (let i in selectClassList) {
                    $("#classList2").append("<option value=" + selectClassList[i].id + ">" + selectClassList[i].number + "</option>");
                }
            }

            form.render("select");
        })

    });
</script>
</body>
</html>