<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.sfm.mapper.SFMEducationExperienceMapper">

    <select id="selectPageByParams" resultType="com.example.sfm.pojo.SFMEducationExperience">
        select
            education.*,
            student.name as studentName,
            student.number as studentNumber
        from sfm_education_experience education
        left join sfm_student student on student.id = education.student_id
        <where>
            and education.del_flag = '0'
            <if test="params.id != null and params.id != ''">
                and education.id = #{params.id}
            </if>
            <if test="params.studentId != null and params.studentId != ''">
                and student.id = #{params.studentId}
            </if>
            <if test="params.studentNumber != null and params.studentNumber != ''">
                and student.number = #{params.studentNumber}
            </if>
        </where>
        order by education.create_date desc
    </select>

</mapper>
